<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Aprendices</title>
    <link href="../../bootstrap-5/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../bootstrap-5/css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="detalle.component.css" rel="stylesheet">
  </head>
  <body>

<div class="abrir-modal animacion fadeIn" *ngIf="modalService.modal">
  <div class="modal" tabindex="-1" style="display: block;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">detalle novedad</h5>
          <button (click)="cerrarModal()" type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-sm">

                <ul *ngIf="aprendiz" class="list-group text-dark mb-2">
                  <li class="list-group-item active">
                    <h6>Nombre:</h6> {{aprendiz.nombre}} {{aprendiz.apellido}}
                  </li>
                  <li class="list-group-item">{{aprendiz.tipoDocumento.nombre}}: {{aprendiz.documento}}</li>
                  <li class="list-group-item">{{ aprendiz.mail}}</li>
                  <li class="list-group-item">{{aprendiz.telefono}}</li>
                </ul>
              </div>
                <div class="col-sm">
                  <ul *ngIf="aprendiz" class="list-group text-dark mb-2">
                    <li class="list-group-item">{{aprendiz.trimestre.nombre}}</li>
                    <li class="list-group-item">{{aprendiz.ficha.nombre}}</li>
                    <li class="list-group-item">{{aprendiz.ficha.numero}}</li>
                    <!-- <li class="list-group-item">{{aprendiz.tipoDocumento}}</li> -->
                  </ul>
                </div>

              
            </div>

            <div class="form-group row mt-1">
              <div class="col-sm-6">
                <button type="button" [routerLink]="['/novedades/form', aprendiz.id]"
                  class="btn btn-success btn-sm">Crear
                  Novedad</button>
              </div>
            </div>

            <div class="row">


              <table class="table table-bordered table-striped my-2" >

                <thead>
                  <tr>
                    <th>titulo</th>
                    <th>Tipo Novedad</th>
                    <th>fecha</th>
                    <th>detalle</th>
                  </tr>
                </thead>

                <tbody>
                  <tr >
                    <td>incumplir</td>
                    <td>academica</td>
                    <td>12/05/2021</td>
                    <td><button class="btn btn-primary btn-sm" type="button"
                        [routerLink]="['/novedades', novedad.id]">Ver</button></td>

                  </tr>
                </tbody>

              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="cerrarModal()" type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->
<script src="./../bootstrap-5/js/bootstrap.bundle.min.js"></script>
</body>
</html>
