<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Aprendices</title>
  <link href="../bootstrap-5/css/bootstrap.min.css" rel="stylesheet">
  <link href="../bootstrap-5/css/bootstrap-grid.min.css" rel="stylesheet">
  <link href="formulario.component.css" rel="stylesheet">
</head>

<body>

  <div class="m-0 row justify-content-center align-items-center">
    <div class="col-auto">


      <div class="card bg-light text-dark">
        <div class="card-header bg-primary text-light">formulario usuario</div>
        <div class="card-body">

          <div class="m-0 row justify-content-center align-items-center">
            <div class="col-auto">

              <form #usuarioForm="ngForm">

                <div class="form-group-row">
                  <label for="nombre" class="col-form-label col-sm">Nombre</label>
                  <div class="col">
                    <input type="text" class="form-control" [(ngModel)]="usuario.nombre" name="nombre"
                      #nombre="ngModel">
                    <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                      <div *ngIf="nombre.errors.required">
                        Nombre es requerido
                      </div>
                      <div *ngIf="nombre.errors.minlength">
                        Nombre debe tener al menos 4 caracteres
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group-row">
                  <label for="apellido" class="col-form-label col-sm">Apellido</label>
                  <div class="col">
                    <input type="text" class="form-control" [(ngModel)]="usuario.apellido" name="apellido"
                      #apellido="ngModel">
                    <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
                      <div *ngIf="apellido.errors.required">
                        Apellido es requerido
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group-row">
                  <label for="mail" class="col-form-label col-sm">Email</label>
                  <div class="col">
                    <input type="mail" class="form-control" [(ngModel)]="usuario.mail" name="mail" #mail='ngModel'>
                    <div class="alert alert-danger" *ngIf="mail.invalid && (mail.dirty || mail.touched)">
                      <div *ngIf="mail.errors.required">
                        Email es requerido
                      </div>
                      <div *ngIf="mail.errors.mail">
                        Email debe tener un formato valido
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group-row">
                  <label for="password" class="col-form-label col-sm">Password</label>
                  <div class="col">
                    <input type="password" class="form-control" [(ngModel)]="usuario.password" name="password"
                      #password='ngModel'>
                    <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
                      <div *ngIf="password.errors.required">
                        Password es requerido
                      </div>
                    </div>
                  </div>
                </div>


                <div class="form-group row mt-4">
                  <div class="col">
                    <button class="btn btn-primary" role="button" (click)="create()" *ngIf="!usuario.id else elseBlock"
                      [disabled]="!usuarioForm.form.valid">Crear</button>


                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->
  <script src="../bootstrap-5/js/bootstrap.bundle.min.js"></script>
</body>

</html>