@media  (max-width: 30em){
    table{
        width: 100%;
    }
    table tr{
        display: flex;
        flex-direction: column;
        border: 1px solid grey;
        margin-bottom: 1em;
    }
    table thead{
        display: none;
    }
    
}
h5{
    text-align: center;
    
}

