<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Aprendices</title>
    <link href="../bootstrap-5/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bootstrap-5/css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="aprendices.component.css" rel="stylesheet">
  </head>
  <body>

    <div class="m-0 row justify-content-center align-items-center">
      <div class="col-auto">
        <div class="card mb-3 ">
          <!-- style="max-width: 50rem;" -->
          <div class="card-header">Aprendices</div>
          <div class="card-body text-primary">
            <h5 class="card-title">Listado Aprendices</h5>

            <div class="my-3 text-left">
              <button class="btn btn-rounded btn-primary" type="button" >Crear
                Aprendiz</button>
            </div>


            <div class="m-0 row justify-content-center align-items-center">
              <div class="col-auto">
                <form class="row g-3">
                  <div class="col-auto">
                    <label class="visually-hidden">Documento</label>
                    <input type="text" readonly class="form-control-plaintext" value="Numero de Documento">
                  </div>
                  <div class="col-auto">
                    <label class="visually-hidden">Password</label>
                    <input type="text" class="form-control" id="inputPassword2" placeholder="Documento">
                  </div>
                  <div class="col-auto">
                    <button type="submit"  class="btn btn-success mb-3">Buscar</button>
                  </div>
                </form>
              </div>
            </div>


            <table class="table table-bordered table-striped mx-auto d-block" >
              <thead>
                <tr>
                  <th></th>
                  <th>Documento</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Email</th>
                  <th>Telefono</th>
                  <th>Crear Novedad</th>
                  <th>editar</th>
                </tr>
              </thead>
              <tbody>
                <tr >
                  <td><button class="btn btn-primary">ver</button></td>
                  <td>10258785</td>
                  <td>antiago alfredo</td>
                  <td>mateuz silva</td>
                  <td>smateuzqgmail.com</td>
                  <td>2336958</td>
                  <td><button type="button"  class="btn btn-success">Crear Novedad</button></td>
                  <td><button type="button" class="btn btn-primary">Editar</button></td>

                </tr>
              </tbody>
            </table>


          </div>
        </div>
      </div>
    </div>

    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->
    <script src="../bootstrap-5/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
